<div ng-controller="accountCtrl">
  <md-content layout-gt-sm="row" layout-padding="">

    <div flex="10"></div>

    <div flex="40">
    <form action="/" id="Login">
    <div layout="column">
      <h2>INICIAR SESION<span></span></h2>

      <md-input-container>
        <label>Email</label>
        <input type="email" ng-model="inputEmail">
      </md-input-container>

      <md-input-container>
        <label>Contrasena</label>
        <input type="password" ng-model="inputPassword">
      </md-input-container>
    <md-button class="md-raised md-primary" ng-click="startSession(inputEmail, inputPassword)">Iniciar Sesion</md-button>
    </div>
    </form>
    </div>




    <div flex="10"></div>




    <div flex="40">
      <!--Enviar texto al telefono para atentificar la cuenta o email para identificar-->

      <form action="/" id="Register">
      <div layout="column" layout-sm="column" layout-margin="300px">


        <h2>CREA TU CUENTA</h2>

        <md-input-container >
          <label>Nombre</label>
          <input type="text" id="newName" ng-model="newName">
        </md-input-container>

        <md-input-container>
          <label>Apellidos</label>
          <input type="text" id="newLastName" ng-model="newLastname">
        </md-input-container>

        <md-input-container >
          <label>Nombre de Usuario</label>
          <input type="text" id="newUsername" ng-model="newUsername">
        </md-input-container>

        <md-input-container >
          <label>Contrasena</label>
          <input type="text" id="newPassword" ng-model="newPassword">
        </md-input-container>

        <md-input-container >
          <label>Reescribir Contrasena</label>
          <input type="text" id="retypePassword" ng-model="retypePassword">
        </md-input-container>

        <md-input-container>
          <label>Email</label>
          <input type="text" id="newEmail" ng-model="newEmail">
        </md-input-container>

        <md-input-container>
          <label>Telefono</label>
          <input type="text" id="newPhone" ng-model="newPhone">
        </md-input-container>


        <md-button class="md-raised md-primary" ng-click="newAccount()"> Crear Cuenta</md-button>
      </div>
      </form>
      </div>

  <div flex="10"></div>
  </md-content>
</div>
