<md-content flex-offset="5" >
    <h2> Libros <span><hr></span></h2>



        <br><br><br>



        <div layout="row" layout-wrap  ng-controller="booksController">
            <div flex="30" ng-repeat="book in books">
                <img class ="booksImage" ng-src="{{book.imageurl}}" height="252 " length = 290>
                <p> {{book.itemname}} </p>
                <p>${{book.price}}</p>
                <ngcart-addtocart id="{{book.itemid}}" name="{{book.itemname}}" price="{{book.price}}" quantity="1"                     quantity-max="5">
                    Add to Cart
                </ngcart-addtocart>
                <br><br>
            </div>
        </div>

    <div flex-offset="5"></div>

</md-content>





<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
    </div>
    <div ng-show="attrs.id">
        <div>
    <span ng-show="quantityMax">
      <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt"></select>
    </span>
            <md-button class="md-primary md-raised">
                <a style="color: #0f0f0f;" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude></a>
            </md-button>
        </div>
        <span ng-show="inCart()">

  <p class="alert alert-info">This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer; color: orange">Remove</a></p>
  </span>
    </div>
</script>
