<md-content layout="column" layout-padding="">
    <md-whiteframe class="md-whiteframe-1dp">
        <h1>Pagar</h1>
    </md-whiteframe>
</md-content>

<md-content layout-gt-sm="row" layout-padding="">

    <div flex="20"></div>
    <div flex="">
        <form action="/">
            <div layout="column" ng-controller="checkoutController">

                <h3>Tarjeta de Credito</h3>

                <md-input-container >
                    <label>Card Number</label>
                    <input type="text" id="cardnumber" ng-model="cardnumber">
                </md-input-container>

                <md-input-container>
                    <label>CVV</label>
                    <input type="text" id="CVV" ng-model="CVV">
                </md-input-container>

                <md-input-container >
                    <label>Expiration Date</label>
                    <input type="text" id="ExpDate" ng-model="ExpDate">
                </md-input-container>
                <md-button class="md-raised md-primary"  ng-click="checkCard()" > Pagar Ahora</md-button>
            </div>
        </form>
    </div>

    <div flex="15"></div>

    <h3>Resumen de Carrito:<span><ngcart-summary></ngcart-summary></span></h3>


    <div flex="20"></div>



</md-content>


<script type="text/ng-template" id="template/ngCart/summary.html">
    <div class="row">

        <div class="col-md-6">{{ ngCart.getTotalItems() }}
            <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
            <br/>{{ ngCart.totalCost() | currency }}
        </div>
    </div>
</script>


