<md-content layout="column" layout-padding="50px">
    <md-whiteframe class="md-whiteframe-5dp">
        <h2>Contactos</h2>
    </md-whiteframe>

    <md-list>
        <md-list-item>
            <div>
                <h2>Horas laborables: Cuando dios mande.</h2>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>

        <md-list-item>
            <div>
                <h2> Telefono: 777-777-7777</h2>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>

        <md-list-item>
            <div>
                <h2>Correo electronico: latiendita@email.com</h2>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>

        <md-list-item>
            <div>
                <h2>Direccion fisica: Si no sabes no eres colegial.</h2>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>

        <md-list-item>
            <div>
                <h2>Facebook: La Tiendita</h2>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>


        <md-list-item>
            <div>
                <h2>Twitter: La Tiendita</h2>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>

    </md-list>
</md-content>