</div>
<md-content class = "copyright" layout-gt-sm="row" layout-align = "center" flex-offset="3">
    <div flex = 94>
        <h3>Copyright 2016 La Tiendita Colegial </h3>
    </div>
</md-content>
</div>

        <div class = "footer-background" flex = "100">
        <md-content class="footer2" layout-gt-sm="row" flex-offset="5">

        <div class = "informacion" flex = "25">

        <p> Localizanos: </p>
        <p> Dirección Postal: Recinto Universitario de Mayagüez</p>
            <p>PO Box 9000
            Mayagüez, PR 00681-9000 </p>
    </div>

    <div class = "footer-account" flex = "25">
        <ul>
            <li><md-button href = "#!/account" aria-label="Iniciar_Sesion"> Cuenta </md-button></li>
            <li><md-button href = "#!/cart" aria-label="Cart"> Carrito </md-button></li>
        </ul>
    </div>
            <div class = "footer-NewArrivals" flex = "25">
                <ul>
                    <li><md-button href = "#!/new-arrivals" aria-label="Cart"> Mas recientes </md-button></li>
                    <li><md-button href = "#!/top-sellers" aria-label="Cart"> Mas vendidos </md-button></li>
                </ul>

    </div>
            <div class = "footer-Footprint" flex = "25">
                <br>
            <img src = "images/Huella-footer.jpg" height="150" length = "150"/>
                </div>
        </md-content>
            </div>



