
<md-content layout-gt-sm="row" flex-offset="3" layout-align = "center">

<div class = "home-page" flex = "94">
    <h2> Inicio <span><hr></span></h2>
<img class = "home-image" ng-src= "images/Banners/Inicio-Banner.jpg" height = "450" with = "1100" >

    </div>
</md-content>


<md-content layout-gt-sm="row" flex-offset="2" layout-align = "center">
<div class = "recientes-fav"  flex = "49">
    <a href = "#!/new-arrivals"> <img src=" images/Banners/Mas-recientes.jpg" class = "home-image" > </a>
    </div>

    <div class = "recientes-fav"  flex = "49">

    <a href = "#!/top-sellers"> <img src=" images/Banners/mas-vendidos.jpg"class = "home-image" > </a>
    </div>

</md-content>


<md-content layout-gt-sm="row" flex-offset="2" layout-align = "center">
    <div class = "libros-articulos"  flex ="49">
        <a href = "#!/books"> <img src=" images/Banners/libros.jpg" class = "home-image" > </a>
        </div>
    <div class = "libros-articulos"  flex ="49">
        <a href = "#!/articles"> <img src=" images/Banners/Articulos.jpg"class = "home-image" > </a>
</div>
</md-content>


    <md-content layout-gt-sm="row" flex-offset="3" layout-align = "center">
    <div flex ="94">

        <a href = "#!/ropa"> <img src=" images/Banners/Ropa.jpg"class = "home-image" > </a>

    </div>

</md-content>

<p ng-controller="homePageController"></p>
</md-content>


