





<h2> Ropa <span><hr></span></h2>

<div class = "ropaPage">
<md-content layout-gt-sm="row"  flex-offset="5">
    <div flex = "33">
    <a href = "#!/camisas"> <img class = "camisas-image" ng-src= "images/Banners/CamisasBanner.jpg" height = "300" width = "352" > </a>
    </div>
    <div flex = "33">
    <a href = "#!/pantalones"> <img class = "pantalones-image" ng-src= "images/Banners/pantalonesBanner.jpg" height = "300" width = "352" > </a>
    </div>
    <div flex = "33">
    <a href = "#!/gorras"> <img class = "gorras-image" ng-src= "images/Banners/GorrasBanner.jpg" height = "300" width = "352" > </a>
    </div>

<div flex-offset="5"></div>
</md-content>
</div>